.about-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.card {
  margin: 10px;
  height: 30vh;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
