.fav-img {
  width: 300px;
  height: 300px;
}

.card-container{
  margin: auto;
  max-width: 65vw;
}
.card-deck{
  display: inline-block;
}

.card {
  background-color: rgb(255, 255, 255, .02);
  width: 21rem;
}

p, h3 {
  color: white;
}
