html {
  background-color: rgb(20, 20, 20);
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  height: 100vh;
  background-image: url(../images/planet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container-text > h1 {
  color: rgb(255, 255, 255);
  font-size: 4vw;
  margin-top: 33rem;
  font-family: 'PT Sans', sans-serif;
}

.landing-container-text > p {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.25vw;
  font-family: 'Trebuchet MS',
}
