/*                      thin bar that the navigation tabs are in */
#responsive-navbar-nav{
  height: 150px;
}

/* the hardest button to button */
.btn-danger {
  margin-left: 310px;
}
/* SpaceOut */
a.logo.navbar-brand {
  font-family: 'Megrim'; 
  font-size: 50px;
  font-weight: bolder;
  margin-left: 90px;
  text-align: center;
  text-shadow: 4px 3px 2px rgba(128, 125, 125, 0.94);
} 
/* Nasa Photo | Profile | Explore */
a.nav-link {
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  margin-left: 100px;
  text-align: center;
}


.navbar {
  background: rgb(32, 32, 32);
  height: 80px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
/* .logo {
  font-family: 'PT Sans', sans-serif;
} */

/* .logout-btn {} */

/* .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
  margin-top: 12px;
} */

/* 
.navbar-logo {
  font-size: 3rem;
  font-family: monospace;
} */

/* .links {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.links:hover {
  background-color: lightblue;
  transition: all 0.4s ease-in-out;
}

.navbar-logo{
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  font-size: 70px;
  text-shadow: 4px 4px 2px rgba(90, 89, 89, 0.541);
} */
